# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [14]:
#need to create pandas series
series1 = pd.Series(np.random.randint(1,5, size=100))
series2 = pd.Series(np.random.randint(1,3, size=100))
series3 = pd.Series(np.random.randint(10000,30001, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [31]:
series_col = pd.concat([series1, series2, series3],axis=1)
series_col.head()

   0  1      2
0  2  1  13830
1  3  1  21147
2  1  2  11551
3  1  1  20886
4  1  1  29683

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [34]:
series_col.rename(columns = {0:'bedrs',1:'bathrs',2:'price_sqr_meter'}, inplace = True)
series_col.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            13830
1      3       1            21147
2      1       2            11551
3      1       1            20886
4      1       1            29683

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [36]:
bigcolumn = pd.concat([series1, series2, series3],axis=0)
bigcolumn

0         2
1         3
2         1
3         1
4         1
      ...
95    20269
96    13869
97    15431
98    16352
99    28720
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [39]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

0          2
1          3
2          1
3          1
4          1
       ...
295    20269
296    13869
297    15431
298    16352
299    28720
Length: 300, dtype: int32